[submodule "VolcaniCore/.vendor/glfw"]
	path = VolcaniCore/.vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "VolcaniCore/.vendor/glm"]
	path = VolcaniCore/.vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Magma/.vendor/yaml-cpp"]
	path = Magma/.vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Magma/.vendor/rapidjson"]
	path = Magma/.vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "Magma/.vendor/angelscript"]
	path = Magma/.vendor/angelscript
	url = https://github.com/LavaFlow-Technologies/angelscript.git
[submodule "Editor/.vendor/asio"]
	path = Editor/.vendor/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "Editor/.vendor/miniz-cpp"]
	path = Editor/.vendor/miniz-cpp
	url = https://github.com/tfussell/miniz-cpp.git
[submodule "Editor/.vendor/efsw"]
	path = Editor/.vendor/efsw
	url = https://github.com/SpartanJ/efsw.git
[submodule "Editor/.vendor/soloud"]
	path = Editor/.vendor/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "Editor/.vendor/stb_image"]
	path = Editor/.vendor/stb_image
	url = https://github.com/LavaFlow-Technologies/stb_image
[submodule "Editor/.vendor/imgui"]
	path = Editor/.vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Editor/.vendor/ImGuiFileDialog"]
	path = Editor/.vendor/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "Editor/.vendor/ImGuizmo"]
	path = Editor/.vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "Editor/.vendor/IconFontCppHeaders"]
	path = Editor/.vendor/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "Editor/.vendor/ImGuiColorTextEdit"]
	path = Editor/.vendor/ImGuiColorTextEdit
	url = https://github.com/LavaFlow-Technologies/ImGuiColorTextEdit.git
[submodule "Editor/.vendor/glad"]
	path = Editor/.vendor/glad
	url = https://github.com/LavaFlow-Technologies/glad.git
[submodule "Editor/.vendor/ai-sdk-cpp"]
	path = Editor/.vendor/ai-sdk-cpp
	url = https://github.com/ClickHouse/ai-sdk-cpp.git
