[submodule "VolcanicWindow/.vendor/glfw"]
	path = VolcanicWindow/.vendor/glfw
	url = https://github.com/LavaFlow-Technologies/glfw.git
[submodule "VolcaniCore/.vendor/glm"]
	path = VolcaniCore/.vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Lava/.vendor/yaml-cpp"]
	path = Lava/.vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Lava/.vendor/rapidjson"]
	path = Lava/.vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "Lava/.vendor/soloud"]
	path = Lava/.vendor/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "Lava/.vendor/stb_image"]
	path = Lava/.vendor/stb_image
	url = https://github.com/LavaFlow-Technologies/stb_image.git
[submodule "Lava/.vendor/glad"]
	path = Lava/.vendor/glad
	url = https://github.com/LavaFlow-Technologies/glad.git
[submodule "Lava/.vendor/angelscript"]
	path = Lava/.vendor/angelscript
	url = https://github.com/LavaFlow-Technologies/angelscript.git
[submodule "Lava/.vendor/freetype"]
	path = Lava/.vendor/freetype
	url = https://github.com/LavaFlow-Technologies/freetype.git
